html,
body {
    height: 100%;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 199, 79);
}


.todolist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    gap: 25px;
}
.delete1,.delete2,.delete3{
    width:25px;
    height: 25px;
    background-color: red;
    
}
#username{
    background-color: rgb(255, 255, 255);
    color: rgb(129, 31, 31);
    width: 300px;
    height: 25px;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
}

.input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.things{
    display: flex;
    gap: 100px;
}
.deletebuttons{
    display: flex;
    flex-direction: column;
    
}


#items{
    color: white;
   
}
ul li {
    display: flex;
    gap: 20px;
}