html,
body {
    height: 100%;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 199, 79);
}


.todolist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    gap: 25px;
}

#username{
    background-color: rgb(255, 255, 255);
    color: rgb(129, 31, 31);
    width: 300px;
    height: 25px;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
}





#items{
    color: white;
   
}
